In [1]:
import pandas as pd

In [3]:
# Load the data from CSV files
cars_df = pd.read_csv('CARS.csv')
customers_df = pd.read_csv('CUSTOMERS.csv')
households_df = pd.read_csv('HOUSEHOLDS.csv')

In [4]:
# Inspect the dataframes to identify columns for joining
print("CARS DataFrame columns:", cars_df.columns)
print("CUSTOMERS DataFrame columns:", customers_df.columns)
print("HOUSEHOLDS DataFrame columns:", households_df.columns)

# Display first few rows to understand data content
cars_df.head()
customers_df.head()
households_df.head()

CARS DataFrame columns: Index(['Car ID', 'Status', 'State', 'Model Year', 'Make', 'Body Style',
       'Vehicle Value', 'Annual Miles Driven', 'Business Use',
       'Antique Vehicle', 'Lien', 'Lease', 'Driver Safety Discount',
       'Vehicle Safety Discount', 'Claim Payout', '6 Month Premium Amount'],
      dtype='object')
CUSTOMERS DataFrame columns: Index(['CUST_ID', 'Date of Birth', 'Marital Status', 'Employment Type',
       'Income', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8',
       'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12',
       'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16',
       'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19'],
      dtype='object')
HOUSEHOLDS DataFrame columns: Index(['HH_ID', 'CUST_ID', 'CAR_ID', 'Active HH', 'HH Start Date',
       'Phone Number', 'ZIP ', 'State', 'Country', 'Referral Source'],
      dtype='object')

,HH_ID,CUST_ID,CAR_ID,Active HH,HH Start Date,Phone Number,ZIP,State,Country,Referral Source
0,219790301,801198110,844435,1,11/18/22,(709) 379-9036,70442,OK,USA,Other
1,219790301,281855167,410619,1,11/18/22,(740) 565-4060,70442,OK,USA,Other
2,219790301,688373183,192812,1,11/18/22,(117) 457-9582,70442,OK,USA,Other
3,219790301,752746800,752033,1,11/18/22,(536) 797-5920,70442,OK,USA,Other
4,464806390,114187354,23783,1,10/9/20,(152) 373-1773,42706,NY,USA,Event

In [5]:
# Merge CUSTOMERS with HOUSEHOLDS on 'CUST_ID'
combined_df = pd.merge(customers_df, households_df, on='CUST_ID', how='inner')

# Merge the combined DataFrame with CARS on 'CAR_ID'
combined_df = pd.merge(combined_df, cars_df, left_on='CAR_ID', right_on='Car ID', how='inner')

In [6]:
# Check for missing values
print("Missing values in combined DataFrame:\n", combined_df.isnull().sum())

# Remove duplicates if any
combined_df = combined_df.drop_duplicates()

# Convert date columns if needed (e.g., 'Date of Birth')
combined_df['Date of Birth'] = pd.to_datetime(combined_df['Date of Birth'], errors='coerce')

Missing values in combined DataFrame:
 CUST_ID                         0
Date of Birth                   0
Marital Status                  0
Employment Type                 0
Income                          0
Unnamed: 5                 845805
Unnamed: 6                 845805
Unnamed: 7                 845805
Unnamed: 8                 845805
Unnamed: 9                 845805
Unnamed: 10                845805
Unnamed: 11                845805
Unnamed: 12                845805
Unnamed: 13                845805
Unnamed: 14                845805
Unnamed: 15                845805
Unnamed: 16                845805
Unnamed: 17                845805
Unnamed: 18                845805
Unnamed: 19                845805
HH_ID                           0
CAR_ID                          0
Active HH                       0
HH Start Date                   0
Phone Number                    0
ZIP                             0
State_x                         0
Country                         0
Referral Source                 0
Car ID                          0
Status                          0
State_y                         0
Model Year                      0
Make                            0
Body Style                      0
Vehicle Value                   0
Annual Miles Driven             0
Business Use                    0
Antique Vehicle                 0
Lien                            0
Lease                           0
Driver Safety Discount          0
Vehicle Safety Discount         0
Claim Payout                    0
6 Month Premium Amount          0
dtype: int64

/tmp/ipykernel_10573/3890272250.py:8: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  combined_df['Date of Birth'] = pd.to_datetime(combined_df['Date of Birth'], errors='coerce')

In [7]:
# Step 6: Clean the Data

# Check for missing values
print("Missing values in combined DataFrame:\n", combined_df.isnull().sum())

# Remove unnamed columns
combined_df = combined_df.loc[:, ~combined_df.columns.str.contains('^Unnamed')]

# Remove duplicates if any
combined_df = combined_df.drop_duplicates()

# Convert 'Date of Birth' to datetime while specifying the format if known (e.g., 'YYYY-MM-DD')
combined_df['Date of Birth'] = pd.to_datetime(combined_df['Date of Birth'], format='%m-%d-%Y', errors='coerce')

# Check if conversion was successful
print("After conversion, missing values in Date of Birth:", combined_df['Date of Birth'].isnull().sum())

Missing values in combined DataFrame:
 CUST_ID                         0
Date of Birth                   0
Marital Status                  0
Employment Type                 0
Income                          0
Unnamed: 5                 845805
Unnamed: 6                 845805
Unnamed: 7                 845805
Unnamed: 8                 845805
Unnamed: 9                 845805
Unnamed: 10                845805
Unnamed: 11                845805
Unnamed: 12                845805
Unnamed: 13                845805
Unnamed: 14                845805
Unnamed: 15                845805
Unnamed: 16                845805
Unnamed: 17                845805
Unnamed: 18                845805
Unnamed: 19                845805
HH_ID                           0
CAR_ID                          0
Active HH                       0
HH Start Date                   0
Phone Number                    0
ZIP                             0
State_x                         0
Country                         0
Referral Source                 0
Car ID                          0
Status                          0
State_y                         0
Model Year                      0
Make                            0
Body Style                      0
Vehicle Value                   0
Annual Miles Driven             0
Business Use                    0
Antique Vehicle                 0
Lien                            0
Lease                           0
Driver Safety Discount          0
Vehicle Safety Discount         0
Claim Payout                    0
6 Month Premium Amount          0
dtype: int64
After conversion, missing values in Date of Birth: 0

In [8]:
combined_df.to_parquet('combined_data.parquet', index=False)

In [ ]:
# Data Engineering

This notebook combines three datasets into a single DataFrame using Pandas. The goal is to prepare the data for analysis and model training. 

### Data Loading
- Loaded datasets from CSV files into separate DataFrames.

### Data Cleaning
- Identified and removed unnamed columns which contained no useful information.
- Handled missing values across the DataFrame.
- Converted 'Date of Birth' to a datetime format while ensuring consistency in parsing.

### Final Dataset
- The combined DataFrame contains X records and Y columns.
- The schema of the final DataFrame is provided.